 
@font-face
{
    font-family: 'Montserrat Regular';
    src: url("https://www.lacoalition.fr/squelettes/css/fonts/montserrat-regular-webfont.woff2") format('woff2'),
         url("https://www.lacoalition.fr/squelettes/css/fonts/montserrat-regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Montserrat Bold';
    src: url("https://www.lacoalition.fr/squelettes/css/fonts/montserrat-bold-webfont.woff2") format('woff2'),
         url("https://www.lacoalition.fr/squelettes/css/fonts/montserrat-bold-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

*, *::before, *::after
{
  box-sizing: border-box;
}
html
{
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section
{
  display: block;
}
body
{
  margin: 0;
  font-family: "Montserrat Regular", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #3c0a85;
  text-align: left;
  background-color: #eee;
}


hr
{
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
h1, h2, h3, h4, h5, h6
{
  margin-top: 0;
  margin-bottom: 0.75rem;
}
p
{
  margin-top: 0;
  margin-bottom: 1rem;
}
abbr[title], abbr[data-original-title]
{
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  text-decoration-skip-ink: none;
}
address
{
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
ol, ul, dl
{
  margin-top: 0;
  margin-bottom: 1rem;
}
ol ol, ul ul, ol ul, ul ol
{
  margin-bottom: 0;
}
dt
{
  font-weight: 700;
}
dd
{
  margin-bottom: 0.5rem;
  margin-left: 0;
}
blockquote
{
  margin: 0 0 1rem;
}
b, strong
{
  font-weight: bolder;
}
small
{
  font-size: 80%;
}
sub, sup
{
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub
{
  bottom: -0.25em;
}
sup
{
  top: -0.5em;
}
a
{
  color: #00b569;
  text-decoration: none;
  background-color: transparent;
}
a:hover
{
  color: #00b569;
  text-decoration: underline;
}
a:not([href])
{
  color: inherit;
  text-decoration: none;
}
a:not([href]):hover
{
  color: inherit;
  text-decoration: none;
}
pre, code, kbd, samp
{
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", Courier, monospace;
  font-size: 1em;
}
pre
{
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}
figure
{
  margin: 0 0 1rem;
}
img
{
  vertical-align: middle;
  border-style: none;
}

/* mise en page globale */
.container
{
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
}
@media (min-width: 576px)
{
  .container
{
    max-width: 540px;
  }
}
@media (min-width: 768px)
{
  .container
{
    max-width: 750px;
  }
}
@media (min-width: 992px)
{
  .container
{
    max-width: 960px;
  }
}
@media (min-width: 1300px)
{
  .container
{
    max-width: 1260px;
  }
}
.row
{
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;
  margin-left: -20px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto
{
  position: relative;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}
.sidebar.col-lg-3
{
  padding: 0;
}

@media (min-width: 992px)
{
  .col-lg-3
  {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-9
  {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

.row .content
{
    padding-top: 25px;
}

/* mise en page spécifique */
.logo
{
    width: 100%;
    margin-bottom: 0;
    padding: 20px 40px;
    line-height: 1em;
}
.logo img
{
    max-width: 100%;
    height: auto;
}

.doc-title
{
    width: 100%;
    padding: 20px 40px;
    color: #FFF;
    font-family: "Montserrat Bold", Geneva, Verdana, sans-serif;
    align-items: center;
    background-color: #00b569;
    display: flex;
}

.doc-title h1
{
    margin-bottom: 0;
    font-size: 2.6875rem;
    line-height: 1.1;
    text-transform: uppercase;
}

.sidebar
{
    overflow: hidden;
    height: 100vh;
    background-color: #3c0a85;
}
.menu-begin
{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}
nav#TOC
{
    padding-top: 5px;
    padding-left: 5px;
    color: white;
}
nav#TOC li ul
{
    list-style: none;
    padding-left: 0px;
}
nav#TOC > ul
{
    list-style: inside none circle;
    padding-left: 0;
    padding-right: 5px;
}
nav#TOC > ul > li
{
    position: relative;
    padding-left: 5px;
    color: #fff;
    font-family: "Montserrat Bold", Geneva, Verdana, sans-serif;
    margin-top: 15px;
}
nav#TOC ul ul,
nav#TOC ol ul,
nav#TOC ul ol,
nav#TOC ol ol
{
    margin-left: 25px;
}

nav#TOC a
{
    color: #fff;
    text-decoration: none;
}

#content img,
#content video
{
    max-width: 100%;
    padding: auto 0px;
}

#content blockquote
{
    border: solid 1px #00b569;
    border-radius: 10px;
    padding: 10px;
    background-color: #DDD;
    margin: 15px;
}
